/*fonts*/
@font-face {
  font-family: 'Raleway Light';
  src: url('Raleway-Light.woff2') format('woff2'), 
       url('Raleway-Light.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('Raleway-Bold.woff2') format('woff2'), 
       url('Raleway-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Mohave Bold';
  src: url('Mohave-Bold.woff2') format('woff2'), 
       url('Mohave-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Mohave Light';
  src: url('Mohave-Light.woff') format('woff');
}

@font-face {
  font-family: 'Baskervville';
  src: url('Baskervville-Italic.woff2') format('woff2'), 
       url('Baskervville-Italic.woff') format('woff');
}